*.iml
.gradle
/local.properties
/build
/captures
.externalNativeBuild
.cxx

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/codeStyles

.DS_Store
Thumbs.db
*.log

*.jks
*.keystore
*.p12

google-services.json

.env